#movie {
  display: block;
  width: 100%;
}

#mystic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.results {
  font-size: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .pretty {
    width: 50%;
  }

  .movie {
    width: 50%;
    float: right;
  }

  .toppings {
    width: 33%;
    display: inline-block;
  }

  .veggies {
    width: 33%;
    display: inline-block;
  }
}

.btn {
  display: block;
}

p {
  font-size: 12px
}

body {
  background: linear-gradient(#ffc6f4, white);
}

.hide {
  display: none;
}
